.hide{
	display: none ; 
}
.form-create-module{
	form{
		padding: 10px;
		background-color: white;
		.form-control{
			&.error{
				border: 1px solid  $red;
			}
		}
		span.error{
			color:$red;
		}
	}
}

.fade{
	&-enter-active{
	transition: all 0.3s ease;
	
	
	}
	&-leave-active{
	transition: all 0.3s ease;


	}
	&-enter,&-leave-to{
		opacity: 0;
		
	}
}
.forum-list{
	margin-top: 20px;
	.list{
		background-color: white;
		padding: 10px;
		border-radius: 5px;
		margin-bottom:15px;
		.user{
			.name{
				    font-size: 11px;
				    font-weight: bold;
				    color: #ccc;
			}
		}
		.image{
			    margin-bottom: 10px;
				    display: flex;
				    justify-content: center;
			img{
				width: 200px;
				max-width: 100%;
			}
		}
		&>p,&>h4{

			white-space: pre-wrap;
    		overflow-wrap: break-word;
		}
	}
}
.editform {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #6f6c6c73;
    .contain{
    	position: absolute;
    	top:100px;
    	width: 500px;
    	max-width: 100%;
    	left: 0;
    	right: 0;
    	margin:auto;
    	background-color: white;
    	padding: 10px;
    	border-radius: 5px;
    	textarea{
    		min-height: 200px;
    		resize: none;
    	}
    }
}