<template>
	<div class="form-create-module">
		<form action="" @submit.prevent="submit()">
			<div class="form-group">
				<input type="text" :class="{error:errors.title !=''}"placeholder="Title.." class="form-control" v-model="forum.title">
				<transition>
					<span class="error" v-if="errors.title != '' ">{{errors.title}}</span>
				</transition>	

			</div>
			<div class="form-group">
				<textarea name="" id="" v-model="forum.question" class="form-control" :class="{error:errors.question !=''}"></textarea>
				<transition name="fade">
						<span class="error" v-if="errors.question != '' ">{{errors.question}}</span>
				</transition>
			</div>
			<div class="form-group" v-if="submitting==true">
				<div class="progress" v-if="percentage>0">
				  <div class="progress-bar" role="progressbar" :style="{width: percentage+'%'}" :aria-valuenow="percentage" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<button class="btn btn-primary" @click.prevent="$refs.photo.click()"> Upload Photo</button>
			<button  v-if="imageprev != ''" class="btn btn-danger" @click.prevent="removeSelected" >Remove Image</button>
			<transition
			enter-active-class="animated fadeIn faster"
			leave-active-class="animated fadeOut faster"
			> 
			<div class="imagepreview"  v-if="imageprev != ''" >
					<img :src="imageprev" alt="" class="imagepreview img-thumbnail">


				</div>
			</transition>

				<input type="file" class="hide" ref="photo" @change="PhotoSelected()" > 

			<div class="button text-right">
					<button class="btn btn-primary">POST</button>
			</div>
		</form>
		

	</div>
</template>
<script>
	import Vue from "vue";
	import VueSimpleAlert from "vue-simple-alert";
	import VueWow from 'vue-wow'
	


	Vue.use(VueSimpleAlert);
		Vue.use(VueWow);
	

	export default{
		
		data(){
			return{
				forum:{
					title:'',
					question:'',
					image:'',

				},
				imageprev:'',
				errors:{
					title:'',
					question:''
				},
				submitting:false,
				percentage:0,
			}
		},
		created(){

		},
		mounted(){
			console.log(this.$refs.photo)
		},

		methods:{
			removeSelected(){
				console.log(this.$refs)
				this.$refs.photo.value ="";
					this.imageprev = "";
					this.forum.image ="";
				// console.log(this.$refs)
			},
			PhotoSelected(){
				let input = this.$refs.photo;
				let files = input.files;
				if(files && files[0]){
					let reader = new FileReader;

					reader.onload = e =>{
						this.imageprev = e.target.result
						this.forum.image = files[0]
					}
					reader.readAsDataURL(files[0])
					

				}
			},
			submit(){
				
				
				
				this.ResetErrors();
				let data = new FormData();
				let ds = this;
				data.append('title',this.forum.title);
				data.append('question',this.forum.question);
				data.append('image',this.forum.image)
				let vm = this;
				ds.submitting = true;
				if(this.forum.title=="" ||
				this.forum.question==""){
					console.log(this.forum.question);
					this.errors.title = this.forum.title !=''? '':'Title must not be null'
					this.errors.question = this.forum.question  != ''? '': 'Question must not be null';
					console.log(this.errors.question);
						setTimeout(function(){
							vm.ResetErrors()
						},3000)

					return;
				}
				axios({
					method:'POST',
					url:'forum',
					data:data,
					onUploadProgress:(pe)=>{
						// progress event
						
						let total = Math.round((pe.loaded * 100) / pe.total)
						this.percentage = total;
    				 	console.log(total)
					}
				}).then(r=>{
					ds.submitting = false;
					this.percentage = 0;
					this.$parent.$emit('forumloaded')
					this.ResetForm();
				}).catch(e=>{
					this.percentage=0;
					let vm = this;
					let errors =e.response.data.errors;
				
				
					console.log(errors.title)
					if(errors.title != undefined){
						this.errors.title = e.response.data.errors.title[0]
						
					}
					if(errors.question !=undefined){
						this.errors.question = e.response.data.errors.question[0]
					}

					setTimeout(function(){
							vm.ResetErrors()
						},3000)
					
				})
			},
			ResetErrors(){
				this.errors.title="";
				this.errors.question="";
				this.percentage=0;
			

			},
			ResetForm(){
				this.forum.title="";
				this.forum.question=""
				this.forum.image=""
					this.$refs.photo.value ="";
				this.imageprev = "";
				
			}
		},
		destroy(){

		}

	}

</script>