<template>
	<div class="forum-list" >
		<transition-group 
		enter-active-class="animated fadeIn"
		leave-active-class="animated zoomOutLeft faster"  >	
		<div class="list" v-for="(forum, index) in forums" :key="forum.id"  >
			
			<h4>{{forum.title}}</h4>
			<div class="user">
				<div class="name">
					<i>Posted By:{{forum.user.name}}</i>
				</div>
			</div>

			
		
			<p>{{forum.question}}</p>

			<div class="image" v-if=" forum.image != ''">
				<img :src="'/'+forum.image" alt="" class="img-thumbnail">
				
			</div>

			<button @click="deleteForum(forum,index)" class="btn btn-danger">Delete</button>
			<button class="btn btn-secondary" @click="editmode(forum.id,index)">Edit</button>

		</div>
		</transition-group>
		<!-- <button v-on:click="test()">show</button> -->
		<div class="" v-scroll="scrolled" ></div>
		<div class="loading" v-if="loadingnext==true">Fetching query..</div>
	</div>

	
</template>
<script>
	import Vue from "vue";
	import VueSimpleAlert from "vue-simple-alert";
	import VueWow from 'vue-wow'
	Vue.use(VueSimpleAlert);
	Vue.use(VueWow);

	export default{
		data(){
			return{
				forums:{},
				nextpage:'',
				loadingnext:false,
			}

		},
		created(){
			
			this.$parent.$on('forumloaded',this.forumloaded)
			this.$parent.$on('forumUpdated',this.updatelist)
		
			this.$parent.$emit('forumloaded');
		},
		mounted(){
			
		},
		beforeDestroy(){
			this.$parent.$off('forumloaded')
		},

		methods:{
			scrolled(evt,el){
				
				let docscrollheight = (document.documentElement.offsetHeight)
				let scrollheight =window.innerHeight+window.scrollY;
				// if(scrollheight == window.)
				if(docscrollheight==scrollheight){
						// console.log(this.nextpage);
						if(this.nextpage != null && this.loadingnext != true){

							this.fetchnext(this.nextpage);
							
						}
						
				}else{

						this.loadingnext =false;
				}
			},
			fetchnext(u){
				this.loadingnext =true;

				let url = u || 'forum/show/';
				let vm = this;

				axios({
					method:'get',
					url:url
				}).then(r=>{
					this.loadingnext =false;
					// console.log( r.data.next_page_url)
					vm.nextpage = r.data.next_page_url;
					/*this.forums.push(r.data.data)*/
					$.each(r.data.data,function(){
						vm.forums.push(this);
					})
						// console.log(this.forums)

					
				})
			},
			updatelist(data,index){
					// console.log(data);
				
				this.$set(this.forums,index,data)
				// console.log(this.forums);

				

			},
			editmode(id,index){
				console.log(this.forums);
				this.$parent.$emit('editmode',true,id,index);
			},
			deleteForum(forum,index){
				this.$confirm('do you want to delete it?').then(()=>{
				
					let ds =this;
					axios.delete(`forum/${forum.id}`)
					.then(r=>{
						this.$delete(this.forums,index);

						// ds.$parent.$emit('forumloaded')
					}).catch(e=>console.log(e))


				})
			},
			forumloaded(u){
				
				let url = u || 'forum/show/';

				axios({
					method:'get',
					url:url
				}).then(r=>{
					// console.log( r.data.next_page_url)
					this.nextpage = r.data.next_page_url;
					this.forums = r.data.data;

					
				})
			},
		
		}
		

	}
</script>