<template>
	
	<div class="editform"   v-if="edit==true">
		
		
			<div class="contain" >
				<div class="form" v-if="saving==false">
					<div class="form-group">
					<input type="text" placeholder="title" v-model="forum.title"  class="form-control">
					</div>
					<div class="form-group">
						<textarea name="" v-model="forum.question" class="form-control"></textarea>
					</div>
					<div class="form-group text-right">
						<button class="btn btn-danger" @click="cancel()">Cancel</button>
						<button class="btn btn-primary" @click="save()">Save</button>
					</div>
				</div>
				<div class="saving-loader text-center" v-if="saving==true">
					saving...
					<br>
					please-wait...
				</div>
			</div>
			
			
	</div>

</template>
<script>
	const initialData = () => ({
				edit:false,
				forumid:'',
				forum:{
					id:'',
					title:'',
					question:'',
				},
				saving:false,
				index:'',
			});

	export default{
		created(){
			this.$parent.$on('editmode',this.editMode);
			// this.$parent.$emit('editmode',true);
		},
		beforeDestroy(){
			this.$parent.$off('editmode',this.editMode);
			},

		data(){

			return initialData();
		},
		methods:{
			cancel(){
				// console.log(this.$data);
				Object.assign(this.$data,initialData())
			},
			save(){	
				let vm = this;
				let data = new FormData();
				data.append('title',this.forum.title);
				data.append('id',this.forum.id);

				data.append('question',this.forum.question);
				data.append('_method','put');
				axios({
					url:`/forum/${vm.forum.id}`,
					method:'POST',

					data:data
				}).then(r=>{
					console.log(r);
					this.$parent.$emit('forumUpdated',r.data,this.index);
					Object.assign(this.$data,initialData())
				})

				this.saving=true;
			},
			editMode(value,id,index){

				this.index = index;
				this.edit = value;
				this.forumid=id;
				axios({
					url:`/forum/${id}`,
					method:'get',

				}).then(r=>{
					let data  = r.data.data[0];
					this.forum.id = data.id
					this.forum.title = data.title
					this.forum.question = data.question
					
				})
			}
		}

	}
</script>